/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.history { }

/* === minimal dark background === */
body.history {
	background-color: #8a8a8a;
}
body.history a {
	color: #0f2f4a;
}

body.history a:hover {
	color: #000000;
}
